<!DOCTYPE html>

<html lang="fr">

   <head>
      <title>Protein visualisation</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="Css/Interface.css">
      <link rel="stylesheet" type="text/css" href="Css/Sidebar.css">
      <link rel="stylesheet" type="text/css" href="Css/Form.css">
      <link rel="stylesheet" type="text/css" href="Css/Match.css">
      <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.7.7/angular-animate.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="Engine/App.js"></script>
      <script type="text/javascript" src="Engine/Crtl.js"></script>
   </head>

   <body ng-app="ProtApp" class="w3-black">

      <!-- Calculate ramchandran -->
      <div id="pdb" ng-controller="pdbForm" class="tab w3-center w3-padding-64">
        <form novalidate class="simple-form" autocomplete="off">
          <input name="code" id="code" class="formFieldPDB w3-input" type="text" placeholder="PDB code" type="text" ng-model="pdb.code" required />
          <br/>
  
          <input type="submit" ng-disabled="form.$invalid"  class="w3-button w3-section w3-teal w3-ripple" ng-click="sendPDB(pdb)" value="Send PDB" />
          
        </form>
      </div>
      <!-- Calculate ramchandran -->
      
      <section id="display"/>

   </body>
</html>
